input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 20px;
  width: 20px;
  border: 1px solid white;
}

input[type="checkbox"]:checked {
  background: #323659;
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

input[type="checkbox"]:after {
  content: "";
  position: relative;
  left: 2%;
  top: -19%;
  width: 83%;
  height: 105%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b;
}

.checkboxContainer{
  line-height: 2;
}














.custom-control-input:checked~.custom-control-label::before{
  border-color: #323659;
  background-color: #323659;
  cursor: pointer;
}
.custom-control-label::before{ cursor: pointer; }
.custom-control-label::after{ cursor: pointer; }