/* =================================== Login =========================== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    font-family: 'Montserrat', sans-serif !important;
}
.login {
    background: url('../images/log.png');
    background-size: cover;
    position: relative;
    min-height: 100vh;
}
.login:before {
    content: '';
    background: rgba(54, 53, 90, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.formLogin {
    margin-top: 120px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 30px #0000003d;
}
.formLogin label {
    font-size: 14px;
    color: #323659;
}
.formLogin small {
    color: #323659;
    font-size: 14px;
    font-weight: 700;
}
.txtLogin {
    margin-top: 240px;
}
.btnLogin {
    background-color: #ff8900;
    float: right;
    width: 180px;
    border-radius: 25px;
}
@media screen and (max-width: 970px) {
    .txtLogin {
        margin-top: 10px;
    }
    .formLogin {
        margin-top: 10px;
    }
}
/* =================================== Navbar ========================== */
.navbar {
    box-shadow: 1px 1px 5px 1px rgba(175, 145, 100, 0.2);
}
.imageNavbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: black;
}
.bg-white .navbar-nav .nav-item .nav-link:hover {
    color: rgb(69, 12, 87);
}
.boxSearch {
    background-color: white !important;
}
.navbar .form-control:focus {
    box-shadow: none;
}
.badgehead {
    background-color: rgb(255, 137, 0);
    border-radius: 50%;
}
.navbar-collapse {
    text-align: left;
}
.msg {
    margin-top: -20px;
    margin-left: -10px;
}
/* ================================ Side Bar =================================== */
.sideBar {
    background-color: #323659;
}
.sideBar .nav .nav-link {
    color: white;
    font-size: 15px;
}
.btnTabSideBar .nav-item .nav-link.active {
    background-color: #fafafa;
    color: black;
    border-radius: 25px;
}
@media screen and (max-width: 600px) {
    .sideFoot {
        display: none;
    }
}
.sideFoot hr {
    background-color: #fafafa;
}

.sideContent {
    background-color: #fafafa;
}

.textHelp {
    color: #626580;
    transition: all linear 0.2s;
}
.textHelp:hover {
    color: #fff;
    text-decoration: none;
}

.tableHead {
    color: #323659;
}
.table-responsive .table thead th {
    color: #323659;
    font-size: 14px;
    font-weight: bold;
}
.table-responsive .table tbody td {
    font-size: 14px;
}
/* ======================================== Committees ========================= */
.commit img {
    height: 30px;
}

.btnCreate:focus {
    box-shadow: none;
}
.btnCreate {
    border: 2px solid #4f5588;
    border-radius: 25px;
    font-size: 14px;
    height: 40px;
    width: 180px;
    color: #323659;
    font-weight: bold;
}
.btnCreate .plus {
    height: 20px;
}
/* ===================================== office =============================== */
.bgOffice {
    background-color: #fafafa;
}
.customTab .nav-item .nav-link,
#topNavBarContent .active,
.btn-active {
    /* padding: 10px 30px; */
    font-size: 1rem;
    border-radius: 25px;
    transition: all linear 0.5s;
}
.customTab .nav-item .nav-link {
    color: #666;
}
.customTab .nav-item .active,
.customTab .nav-item .nav-link:active,
.customTab .nav-item .nav-link:focus,
#topNavBarContent .active,
.btn-active {
    background-color: #323659;
    color: white !important;
    /* box-shadow: 8px -9px 30px 0px rgba(46, 46, 46, 0.59); */
    -webkit-box-shadow: -5px -4px 13px -1px rgba(102, 102, 102, 0.34);
    -moz-box-shadow: -5px -4px 13px -1px rgba(102, 102, 102, 0.34);
    box-shadow: -5px -4px 13px -1px rgba(102, 102, 102, 0.34);
}
.btn-active .badge,
.active .badge {
    color: #333 !important;
}

.imgSuccess {
    height: 70px;
    width: 60px;
}
.fAction {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
/* ============================================== Requirements ======================== */
.details {
    box-shadow: 0px 3px 20px #00000014;
    border-radius: 10px;
}
.details span {
    font-size: 13px;
    color: black;
}
.details p {
    color: #323659;
    font-size: 14px;
}
.paragaraph {
    font-size: 16px;
    font-weight: 600;
}
.firstUploadCollapse {
    box-shadow: 0px 3px 20px #00000014;
    border-radius: 10px;
}
.customModel {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(212, 205, 205);
    margin-bottom: 1.5vh !important;
}
.customModel:focus {
    border-bottom: 2px solid #ff8900;
    box-shadow: none;
}
.btnContinue {
    background-color: #ff8900;
    color: black;
    border-radius: 25px;
    font-weight: 600;
}
.btnSaveMeet {
    border: 2px solid #323659;
    width: 150px;
    border-radius: 25px;
}
/* .btnTextarea{
    display: flex;
    justify-content: center;
} */
/* ============================================ Suppliers =====================*/
.general p {
    font-weight: bold;
    font-size: 13px;
}
.general h6 {
    font-size: 14px;
}
.fDownload {
    color: #ff8900 !important;
}
.hedAccordian {
    color: #323659;
}
.addDetails h6 {
    font-weight: bold;
    font-size: 13px;
}
.addDetails p {
    color: #323659;
    font-size: 14px;
    font-weight: bold;
}
.logs p {
    font-size: 14px;
}
/* ========================================== Requests ======================= */
.btnFilter {
    border: 2px solid #323659;
    border-radius: 5px;
    box-shadow: 0px 8px 6px #0000003d;
    height: 42px;
}
.btnFilterDanger {
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    box-shadow: 0px 8px 6px #0000003d;
    height: 42px;
}
.tableBodyWidth tr td{
    min-width: 11rem !important;
}